.homepage {
    
    &__link {
        display: grid;
        grid-template-columns: 20% 1fr;
        align-items: center;

        &__details {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: start;

            &--icon {
                height: 1rem;
                width: 1rem;
                padding-right: 10px;
            }

            &--title {
                justify-self: center;
            }
        }

    }
}